/* Full-page background */
.full-page-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; /* Semi-transparent black background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000; /* Ensure it's on top of other content */
}

/* Header with back button */
.full-page-popup-header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.back-button {
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    column-gap: 20px;
    flex-direction: row;
    outline: 1px solid red;
}


.profile-name {
    font-size: 24px;
    font-weight: bold;
}

/* Centered image container */
.full-page-image-container {
    position: relative;
    width: 100%;
    top: 30%;
    height: 40%; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid red;
}

.image-wrapper {
    width: 80%; /* Adjust the size of the image */
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.zoomed {
    transform: scale(2); /* Zoom the image */
}
