.display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-g5 {
    column-gap: 5px;
}

.col-g-1 {
    column-gap: 10px;
}

.row-g5 {
    row-gap: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #2563EB;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #2563EB;
    border-radius: 50%;
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid var(--main-border-color);
}

.border-top {
    border-top: 1px solid var(--main-border-color);
}

.no-select {
    user-select: none;
}